@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@font-face {
  font-family: myFirstFont;
  src: url(./font/BrownLight\ Regular.ttf);
}
@font-face {
  font-family: mySecondFont;
  src: url(./font/verdana-bold.ttf);
}

body {
  background: #f7f7f7;
}
.header {
  background-image: url("./images/bg.webp");
  background-size: cover;
}

h6 {
  font-family: "Dancing Script", cursive;
  color: #1c3c6b;
}
h6 > span {
  background-color: #1c3c6b;
}

h3 {
  font-family: mySecondFont;
}
p {
  color: #3a4856;
}
small {
  color: #6b6b7b;
}
h4,
a,
h3 {
  color: #1c3c6b;
}

.border {
  border-color: rgb(222, 222, 222);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: black;
  font-weight: bold;
  font-size: 14px !important;
  background-color: white;
  padding: 6px 9px;
  border-radius: 50%;
}
.swiper-button-next {
  right: 20px !important;
}
.swiper-button-prev {
  left: 20px !important;
}
.backdrop-blur-sm {
  --tw-backdrop-blur: blur(1.5px);
}

/* scrollbar design */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar:horizontal {
  border-radius: 10px;
  background: #b0b0b0;
  background: #b0b0b0;
  border-radius: 10px;
  height: 7px;
}

.reviews {
  background-image: url("./images/bg-review.png");
  background-size: contain;
  background-position: center center;
}

.review-card:before {
  content: "";
  height: 40px;
  width: 50px;
  background-color: #ececec;
  position: absolute;
  top: 8px;
  right: 0;
  -webkit-clip-path: path("M0 0V40L18.75 20V0H0ZM31.25 0V40L50 20V0H31.25Z");
  clip-path: path("M0 0V40L18.75 20V0H0ZM31.25 0V40L50 20V0H31.25Z");
}

.luxuriasRooms {
  background-image: url("./images/hotels-bg.png");
}

@media only screen and (min-width: 1024px) {
  .subscribe {
    background-image: url("./images/subscribe1.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
