@font-face {
  font-family: myFirstFont;
  src: url(./font/BrownLight\ Regular.ttf);
}
@font-face {
  font-family: mySecondFont;
  src: url(./font/verdana-bold.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  /* color: #1c3c6b; */
  background: #ebf0f4c5;
}
.header {
  background-image: url("./images/bg.webp");
  background-size: cover;
}

h3 {
  font-family: mySecondFont;
}
p {
  color: #3a4856;
}
small {
  color: #6b6b7b;
}
h4,
a,
h3 {
  color: #1c3c6b;
}

.border {
  border-color: rgb(222, 222, 222);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: black;
  font-weight: bold;
  font-size: 14px !important;
  background-color: white;
  padding: 6px 9px;
  border-radius: 50%;
}
.swiper-button-next {
  right: 15px !important;
}
.swiper-button-prev {
  left: 20px !important;
}
.backdrop-blur-sm {
  --tw-backdrop-blur: blur(1.5px);
}

/* scrollbar design */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar:horizontal {
  border-radius: 10px;
  background: #b0b0b0;
  background: #b0b0b0;
  border-radius: 10px;
  height: 7px;
}
